// Variable overrides, e.g.
// $body-bg: cyan;

// See: https://getbootstrap.com/docs/5.0/customize/sass/

$primary: #005cb9;
$secondary: #b95d00;
$green: #5cb900;
$pink: #b9005c;
$link-color: #005cb9;
